{% extends "zailer/base.html" %}
{% load staticfiles %}

    {% block nav %}

    {% include "zailer/nav.html" with services_items=services_items %}
			
    
    {% endblock %}
    {% block headerbackground %}    
    <!-- Start Page Top -->  
    <section id="page-top" style="height:400px">
        <div class="hero">
        
            <img src="{% static 'zailer/img/backgrounds/bg-shortcodes.jpg' %}" alt="hero">

            <div class="page-top-title text-center">
                <h2 class="white op-1">Автомобили в продаже</h2>
                <p class="home-subheading op-1">ZAILER - тюнинг ателье класса люкс</p>
            </div>
            
        </div>
    </section>
    <!-- End Page Top --> 
    {% endblock %}
    {% block content %}    
        
    <section id="blog">
        <div class="container">
            
            <div id="masonry">
                    
                <div class="column">
                    <div class="blog-column">
                        <a href="news1.html"><img class="img-responsive blog-img" src="{% static 'zailer/img/blog/masonry/blog-1.jpg' %}" alt=""></a>
                        <div class="column-info">
                            <h4 class="uppercase"><a href="news1.html">Заголовок  </a></h4>                            
                               
                            <p>Описание текст</p>
                            <a class="btn btn-primary btn-xs" href="news1.html">Подробнее</a>                                    
                        </div>
                    </div>
                </div>
                    
                <div class="column">
                    <div class="blog-column">
                        <a href="news2.html"><img class="img-responsive blog-img" src="{% static 'zailer/img/blog/masonry/blog-2.jpg' %}" alt=""></a>
                        <div class="column-info">
                            <h4 class="uppercase"><a href="news2.html">Заголовок </a></h4>                            
                            <p>Описание текст</p>
                            <a class="btn btn-primary btn-xs" href="news2.html">Подробнее</a>
                        </div>
                    </div> 
                </div> 
                    
                <div class="column">
                    <div class="blog-column">
                        <a href="news3.html"><img class="img-responsive blog-img" src="{% static 'zailer/img/blog/masonry/blog-2.jpg' %}" alt=""></a>
                        <div class="column-info">
                            <h4 class="uppercase"><a href="news3.html">Заголовок </a></h4>                            
                            <p>Описание текст</p>
                            <a class="btn btn-primary btn-xs" href="news3.html">Подробнее</a>
                        </div>
                    </div> 
                </div> 
                    
                <div class="column">
                    <div class="blog-column">
                        <a href="news4.html"><img class="img-responsive blog-img" src="{% static 'zailer/img/blog/masonry/blog-4.jpg' %}" alt=""></a>
                        <div class="column-info">
                            <h4 class="uppercase"><a href="news4.html">Заголовок </a></h4>                            
                            <p>Описание текст</p>
                            <a class="btn btn-primary btn-xs" href="news4.html">Подробнее</a>
                        </div>
                    </div> 
                </div> 
                    
                <div class="column">
                    <div class="blog-column">
                        <a href="news4.html"><img class="img-responsive blog-img" src="{% static 'zailer/img/blog/masonry/blog-5.jpg' %}" alt=""></a>
                        <div class="column-info">
                            <h4 class="uppercase"><a href="news4.html">Заголовок </a></h4>                            
                            <p>Описание текст</p>
                            <a class="btn btn-primary btn-xs" href="news4.html">Подробнее</a>
                        </div>
                    </div> 
                </div> 
                    
                <div class="column">
                    <div class="blog-column">
                        <a href="news4.html"><img class="img-responsive blog-img" src="{% static 'zailer/img/blog/masonry/blog-6.jpg' %}" alt=""></a>
                        <div class="column-info">
                            <h4 class="uppercase"><a href="news4.html">Заголовок </a></h4>                            
                            <p>Описание текст</p>
                            <a class="btn btn-primary btn-xs" href="news4.html">Подробнее</a>
                        </div>
                    </div> 
                </div> 
                
                <div class="column">
                    <div class="blog-column">
                        <a href="news4.html"><img class="img-responsive blog-img" src="{% static 'zailer/img/blog/masonry/blog-6.jpg' %}" alt=""></a>
                        <div class="column-info">
                            <h4 class="uppercase"><a href="news4.html">Заголовок </a></h4>                            
                            <p>Описание текст</p>
                            <a class="btn btn-primary btn-xs" href="news4.html">Подробнее</a>
                        </div>
                    </div> 
                </div> 
                    
            </div>
                
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                    <a href="#"><i class="ion-android-arrow-back"></i></a>
                </li>
                <li class="next">
                    <a href="#"><i class="ion-android-arrow-forward"></i></a>
                </li>
            </ul>
            
        </div>
            
    </section>
    {% endblock %}
            
    {% block addscript %}
    <script src="{% static 'zailer/js/plugins/masonry.js' %}"></script>
    <script>
    var msnry = new Masonry( '#masonry', {
      // options
    });
    </script>
    {% endblock %}
	