{% extends "zailer/base.html" %}
{% load humanize %}
{% load staticfiles %}

    {% block nav %}

    {% include "zailer/nav.html" with services_items=services_items %}
			
    
    {% endblock %}
    {% block headerbackground %}    
    <!-- Start Page Top -->  
    <section id="page-top" style="height:400px">
        <div class="hero">
        
            <img src="{% static 'zailer/img/backgrounds/auto-sale.jpg' %}" alt="hero" style="position:absolute; bottom:278px">

            <div class="page-top-title text-center">
                <h2 class="white op-1">Автомобили в продаже</h2>
                <p class="home-subheading op-1">ZAILER - тюнинг ателье класса люкс</p>
            </div>
            
        </div>
    </section>
    <!-- End Page Top --> 
    {% endblock %}
    {% block content %}    
        
    <section id="blog">
        <div class="container">
            
            <div id="masonry">
            
                {% for car_item in cars_for_sale %}
                <div class="column">
                    <div class="blog-column">
                        <a class="cbp-singlePage" href="/singlecar/{{car_item.car.id}}"><img class="img-responsive blog-img" src="{% static car_item.img_preview.img_url %}" alt=""></a>
                        <div class="column-info">
                            <h4 class="uppercase"><a class="cbp-singlePage" href="/singlecar/{{car_item.car.id}}">{{car_item.car.mark}} {{car_item.car.model}} {{car_item.car.modification}}</a></h4>                            
                            <ul class="blog-post-info">
                                <li><i class="ion-cash"></i> {{car_item.car.price | intcomma}} р</li><br>
                                <li><i class="ion-clock"></i> {{car_item.car.year}} год </li>  
                            </ul>   
                            <a class="btn btn-primary btn-xs cbp-singlePage" href="/singlecar/{{car_item.car.id}}">Подробнее</a>                                    
                        </div>
                    </div>
                </div>
                {% endfor %}    
                 
            </div>
            <div id="grid-container-fullwidth" class="cbp-l-grid-fullScreen">
            </div>  
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                    <a href="#"><i class="ion-android-arrow-back"></i></a>
                </li>
                <li class="next">
                    <a href="#"><i class="ion-android-arrow-forward"></i></a>
                </li>
            </ul>
            
        </div>
            
    </section>
    {% endblock %}
            
    {% block addscript %}
    <script src="{% static 'zailer/js/plugins/masonry.js' %}"></script>
    <script>
    var msnry = new Masonry( '#masonry', {
      // options
    });
    </script>
    {% endblock %}
	