{% extends "zailer/base.html" %}
{% load staticfiles %}

    {% block nav %}
			
    <div class="collapse navbar-collapse" id="main-nav">
        <ul class="nav navbar-nav  navbar-right">
            
           <!--<li><a class="to-top"><a href="/index.html#">Главная</a></li>-->
            <li class="to-section"><a href="/">Главная</a></li>
            <li class="to-section"><a href="/#about">О компании</a></li>
            <li class="to-section"><a href="/rover">Range Rover</a></li>
            <li class="to-section"><a href="/#auto">Тюнинг</a></li>
            
            <li class="dropdown">
                <span class="dropdown-toggle" data-toggle="dropdown">Услуги<b class="caret"></b></span>
                <ul class="dropdown-menu" role="menu">
                    <!--<li class="active"><a href="#">Разработка</a></li>-->
                    <li><a href="/service1.html">1</a></li>
                    <li><a href="/service2.html">2</a></li>
                    <li><a href="/service3.html">3</a></li> 
                    <li><a href="/service4.html">4</a></li>
                    <li><a href="/service5.html">5</a></li>
                    <li><a href="/service6.html">6</a></li>
                    <li><a href="/service6.html">7</a></li> 
                    <li><a href="/service6.html">8</a></li>
                    <li><a href="/service6.html">9</a></li>
                    <li><a href="/service6.html">10</a></li>
                    <li><a href="/service6.html">11</a></li> 
                    <li><a href="/service6.html">12</a></li>
                </ul>
            </li> 
            <li class="to-section"><a href="/auto">Авто в продаже</a></li>
            <!--
            <li class="dropdown">
                <span class="dropdown-toggle" data-toggle="dropdown">Новости <b class="caret"></b></span>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="blog.html">Список новостей</a></li>
                    <li><a href="blog-single.html">Описание новости</a></li>    
            </li> 
            -->
            <li class="to-section"><a href="/#contact">Контакты</a></li>
            <!--
            <li><a class="social-icon" href="#"><i class="icon icon-social-twitter"></i></a></li>
            <li><a class="social-icon" href="#"><i class="icon icon-social-facebook"></i></a></li>
            -->
      </ul>
    </div><!-- /.navbar-collapse -->
    {% endblock %}
    {% block headerbackground %}    
        <!-- Start Page Top -->  
        <section id="page-top" style="height:400px">
        <div class="hero">
        
            <img src="{% static 'zailer/img/backgrounds/bg-shortcodes.jpg' %}" alt="hero">

            <div class="page-top-title text-center">
                <h2 class="white op-1">Автомобили в продаже</h2>
                <p class="home-subheading op-1">ZAILER - тюнинг ателье класса люкс</p>
            </div>
            
        </div>
        </section>
        <!-- End Page Top --> 
    {% endblock %}
    {% block content %}    
        
    <section id="blog">
        <div class="container">
            
            <div id="masonry">
                    
                <div class="column">
                    <div class="blog-column">
                        <a href="news1.html"><img class="img-responsive blog-img" src="{% static 'zailer/img/blog/masonry/blog-1.jpg' %}" alt=""></a>
                        <div class="column-info">
                            <h4 class="uppercase"><a href="news1.html">Заголовок  </a></h4>                            
                               
                            <p>Описание текст</p>
                            <a class="btn btn-primary btn-xs" href="news1.html">Подробнее</a>                                    
                        </div>
                    </div>
                </div>
                    
                <div class="column">
                    <div class="blog-column">
                        <a href="news2.html"><img class="img-responsive blog-img" src="{% static 'zailer/img/blog/masonry/blog-2.jpg' %}" alt=""></a>
                        <div class="column-info">
                            <h4 class="uppercase"><a href="news2.html">Заголовок </a></h4>                            
                            <p>Описание текст</p>
                            <a class="btn btn-primary btn-xs" href="news2.html">Подробнее</a>
                        </div>
                    </div> 
                </div> 
                    
                <div class="column">
                    <div class="blog-column">
                        <a href="news3.html"><img class="img-responsive blog-img" src="{% static 'zailer/img/blog/masonry/blog-2.jpg' %}" alt=""></a>
                        <div class="column-info">
                            <h4 class="uppercase"><a href="news3.html">Заголовок </a></h4>                            
                            <p>Описание текст</p>
                            <a class="btn btn-primary btn-xs" href="news3.html">Подробнее</a>
                        </div>
                    </div> 
                </div> 
                    
                <div class="column">
                    <div class="blog-column">
                        <a href="news4.html"><img class="img-responsive blog-img" src="{% static 'zailer/img/blog/masonry/blog-4.jpg' %}" alt=""></a>
                        <div class="column-info">
                            <h4 class="uppercase"><a href="news4.html">Заголовок </a></h4>                            
                            <p>Описание текст</p>
                            <a class="btn btn-primary btn-xs" href="news4.html">Подробнее</a>
                        </div>
                    </div> 
                </div> 
                    
                <div class="column">
                    <div class="blog-column">
                        <a href="news4.html"><img class="img-responsive blog-img" src="{% static 'zailer/img/blog/masonry/blog-5.jpg' %}" alt=""></a>
                        <div class="column-info">
                            <h4 class="uppercase"><a href="news4.html">Заголовок </a></h4>                            
                            <p>Описание текст</p>
                            <a class="btn btn-primary btn-xs" href="news4.html">Подробнее</a>
                        </div>
                    </div> 
                </div> 
                    
                <div class="column">
                    <div class="blog-column">
                        <a href="news4.html"><img class="img-responsive blog-img" src="{% static 'zailer/img/blog/masonry/blog-6.jpg' %}" alt=""></a>
                        <div class="column-info">
                            <h4 class="uppercase"><a href="news4.html">Заголовок </a></h4>                            
                            <p>Описание текст</p>
                            <a class="btn btn-primary btn-xs" href="news4.html">Подробнее</a>
                        </div>
                    </div> 
                </div> 
                
                <div class="column">
                    <div class="blog-column">
                        <a href="news4.html"><img class="img-responsive blog-img" src="{% static 'zailer/img/blog/masonry/blog-6.jpg' %}" alt=""></a>
                        <div class="column-info">
                            <h4 class="uppercase"><a href="news4.html">Заголовок </a></h4>                            
                            <p>Описание текст</p>
                            <a class="btn btn-primary btn-xs" href="news4.html">Подробнее</a>
                        </div>
                    </div> 
                </div> 
                    
            </div>
                
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                    <a href="#"><i class="ion-android-arrow-back"></i></a>
                </li>
                <li class="next">
                    <a href="#"><i class="ion-android-arrow-forward"></i></a>
                </li>
            </ul>
            
        </div>
            
    </section>
    {% endblock %}
            
    {% block addscript %}
    <script src="{% static 'zailer/js/plugins/masonry.js' %}"></script>
    <script>
    var msnry = new Masonry( '#masonry', {
      // options
    });
    </script>
    {% endblock %}
	