
{% load staticfiles %}

<section id="project-page-title">
    <div class="container">
        <div class="row text-center" style="margin:30px 0 0 0;">
            <div class="col-lg-12">
                <h2 class="project-title">{{project.name}}</h2>
            </div>
        </div>
    </div>
</section>
        
            
<div class="container">
    <div class="row">
               
        <div class="col-lg-8 col-lg-offset-2">
            <div id="project-slider" class="owl-carousel">
                {% for image in project.projectimage_set.all %}            
                <div><img src="{% static image.img_url %}" class="img-responsive" /></div>
                {% endfor %}

            </div> 
        </div>

        <div class="col-lg-4 col-lg-offset-2">
                       
            <!--<div class="project-widget">-->
            <div class="project-info">
                <h4>Описание проекта</h4>
                <p>{{project.description}}</p><br>
                <!--<a href="#" class="btn btn-primary btn-responsive">Подробнее</a>-->
            </div>
        
        </div>
        
        <div class="col-lg-2 col-lg-offset-1">
            
            <!--<div class="project-widget">-->
            <div class="project-info">
                <h4>Информация</h4>
                            
                <h5>Марка: <i>{{project.mark}}</i></h5>
                <h5>Модель: <i>{{project.model}}</i></h5>
            </div>
                      
            
            
        </div>
        
    </div>
</div><!-- End Container -->
