{% load humanize %}
{% load staticfiles %}

<section id="project-page-title">
    <div class="container">
        <div class="row text-center" style="margin:30px 0 0 0;">
            <div class="col-lg-12">
                <h2 class="project-title">{{car.mark}} {{car.model}} {{car.modification}}</h2>
            </div>
        </div>
    </div>
</section>
        
            
<div class="container">
    <div class="row">
               
        <div class="col-lg-8 col-lg-offset-2">
            <div id="project-slider" class="owl-carousel">
                {% for image in car.carforsaleimage_set.all %}            
                <div><img src="{% static image.img_url %}" class="img-responsive" /></div>
                {% endfor %}

            </div> 
        </div>

        <div class="col-lg-4 col-lg-offset-2">
                       
            <!--<div class="project-widget">-->
            <div class="project-info">
                <h4>Описание проекта</h4>
                <p>{{car.description}}</p><br>
                <!--<a href="#" class="btn btn-primary btn-responsive">Подробнее</a>-->
            </div>
        
        </div>
        
        <div class="col-lg-3 col-lg-offset-1">
            
            <!--<div class="project-widget">-->
            <div class="project-info">
                <h4>Информация</h4>
                    <h5>Цена: <label>{{car.price | intcomma}} р</label></h5>
                    <h5>Год: <label>{{car.year}} </label></h5>
                    <h5>Контакты: <label>{{car.contact}}</label></h5>
            </div>
                      
            
            
        </div>
        
    </div>
</div><!-- End Container -->
